VITE_ENV=

## Bakeend API URL
# VITE_APP_API_URL=https://dev-et-cms-api.draftserver.com/cms-api
VITE_APP_API_URL=http://localhost:3001/cms-api

VITE_APP_BASE_NAME= 

#API
# VITE_APP_GRAPHQL_URL= https://dev-et-cms-api.draftserver.com/cms-api
VITE_APP_GRAPHQL_URL= http://localhost:3001/cms-api 
VITE_APP_PERSIST_KEY= local

# REACT_APP_GRAPHQL_URI = https://dev-et-cms-api.draftserver.com/cms-api/
VITE_APP_IMAGE_PLACEHOLDER = https://thumbs.dreamstime.com/b/imitation-transparent-background-seamless-vector-illustration-69028332.jpg

# Generate and use unique API key for TINY MCE
VITE_APP_TINY_MCE =
VITE_APP_UPLOAD_PRESET =
VITE_APP_CLOUDINARY_API =